body {
  overflow: hidden;
}

canvas {
  width: 100%:
}
.loading-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
}

.loading-container.active {
  display: flex;
}

.loading-text {
  color: rgba(255, 255, 255, 0.753);
  margin-top: 16px;
}

.control-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
}

.control-container .control-btn {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50%;
  background: rgb(192, 173, 68);
  margin: 4px;
}

.control-container .control-btn:hover {
  color: white;
  width: 54px;
  height: 54px;
  transition: ease 0.2s;
}

input {
  width: 50px;
}

.dot-container {
  position: fixed;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  cursor: pointer;
  box-shadow: 0 0 10px 10px #ffffffb4,
}

.dot {
  width: 10px;
  border-radius: 50%;
  height: 10px;
  background-image: radial-gradient(rgb(253, 253, 253), rgba(255, 255, 0, 0), rgb(255, 255, 255));
}

.dot-container:hover .dot {
  background-image: radial-gradient(rgb(70, 148, 250), rgba(255, 255, 0, 0), rgb(103, 118, 255));
}

.dot-container:hover span {
  background: rgb(70, 148, 250)
}

.dot-container span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.popup-container {
}
.popup-content {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #E7E7E7;
}
.product-img-container {
}
.product-img-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.hidden {
  display: none !important;
}
.detail-header {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
}
.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001 !important;
  height: 44px;
  width: 44px;
  border: 2px solid #181818;
  border-radius: 50%;
  display: block;
  outline: none;
}

.product-name {
  font-family: CenturyOldStyle-Regular, serif;
  font-weight: 100;
  white-space: nowrap;
  font-size: 3rem;
}

.product-description, .product-price {
  margin: 5px auto;
  flex-shrink: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
}

.shop {
  text-decoration: none;
  color: white;
  height: 40px;
  width: 200px;
  margin: 5px auto;
  border-radius: 40px;
  display: block;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding-bottom: 4px;
}

.shop:hover {
  color: rgb(109, 186, 250);
}